* {
    box-sizing: border-box;
}

body {
    background-color: #fefbec;
    font-size: 2.38vh;
    height: 100vh;
    width: 500%;
    overflow: hidden;
}

.pagination {
    font-size: 2rem;
    position: fixed;
    z-index: 5;
    padding: 0 0.25rem;
    top: 0;
    right: 0;
    display: flex;
    background: #505652;
  }
  .pagination a {
    padding: 0.25rem 0.5rem;
    text-decoration: none;
    color: #fefbec;
  }
  .wrapper {
    height: 100vh;
    width: auto;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: flex-start;
  }
  .section {
    width: 100%;
    height: 100vh;
    z-index: 0;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
  }
  .images {
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .image {
    width: 28%;
    overflow: hidden;
  }
  .image img {
    height: auto;
    width: 100%;
  }
  .text {
    padding: 10rem;
    column-count: 3;
  }
  .text p:first-of-type {
    margin-top: 0;
  }
  .text p:first-of-type:first-letter {
    font-size: 1.5rem;
  }
  .text h1 {
    margin: 0;
  }
  #two,
  #four {
    display: flex;
    align-items: center;
  }
  #two img,
  #four img {
    height: auto;
    width: 50vw;
    display: block;
    margin: 0 auto;
  }
  /* Clicking the nav links sets not just the page as the active target, but also the .slideswitch class div that bears the same ID. The sibling selector then finds all the .section divs that come after the slideswitch div, and translates them the right amount */
  .slideswitch {
    display: none;
  }
  .slideswitch[ id="one"]:target ~ .wrapper .section {
    transform: translateX(0);
  }
  .slideswitch[ id="two"]:target ~ .wrapper .section {
    transform: translateX(-100%);
  }
  .slideswitch[ id="three"]:target ~ .wrapper .section {
    transform: translateX(-200%);
  }
  .slideswitch[ id="four"]:target ~ .wrapper .section {
    transform: translateX(-300%);
  }
  .slideswitch[ id="five"]:target ~ .wrapper .section {
    transform: translateX(-400%);
  }
  .slideswitch[ id="one"]:target ~ .pagination #pagination_one,
  .slideswitch[ id="two"]:target ~ .pagination #pagination_two,
  .slideswitch[ id="three"]:target ~ .pagination #pagination_three,
  .slideswitch[ id="four"]:target ~ .pagination #pagination_four,
  .slideswitch[ id="five"]:target ~ .pagination #pagination_five {
    color: #e0d28c;
  }
  @media (max-aspect-ratio: 10/7) {
    body {
      font-size: 1.5vw;
    }
    .text {
      column-count: 1;
    }
  }
  
  @media (max-aspect-ratio: 9/7) {
    body {
      font-size: 1.7vw;
    }
  }
  
  @media (max-aspect-ratio: 8/7) {
    body {
      font-size: 1.9vw;
    }
  }
    
  @media (max-aspect-ratio: 7/7) {
    body {
      font-size: 2.1vw;
    }
  }

  @media (max-aspect-ratio: 6/7) {
    body {
      font-size: 2.3vw;
    }
  }

  @media (max-aspect-ratio: 5/7) {
    body {
      font-size: 2.5vw;
    }
  }

  @media (max-aspect-ratio: 4/7) {
    body {
      font-size: 2.7vw;
    }
  }
  